.paging-active{
    background-color: #ffa600 !important;
    border-color: #ffa600 !important;
    color: #fff !important;
    box-shadow: 0 4px 5px 0 rgba(175, 140, 76, 0.14), 0 1px 10px 0 rgba(175, 140, 76, 0.14), 0 2px 4px -1px rgba(175, 144, 76, 0.2);
}

/* .form-control[readonly]{
    background-color: none !important;
} */

.custom-readonly{
    background-color: transparent !important;
}

.btn-lookup{
    padding: 0 !important;
    margin: 0 !important;
    width: 60px;
}
.input-help{
    position: relative !important;
}