.paging-active{
    color: #fff !important;
    background-color: #9c27b0 !important;
    border-color: #9c27b0 !important;
    box-shadow: 0 2px 2px 0 rgba(156,39,176,.14), 0 3px 1px -2px rgba(156,39,176,.2), 0 1px 5px 0 rgba(156,39,176,.12);
}

/* .form-control[readonly]{
    background-color: none !important;
} */

.custom-readonly{
    background-color: transparent !important;
}

.btn-lookup{
    padding: 0 !important;
    margin: 0 !important;
    width: 60px;
}
.input-help{
    position: relative !important;
}